@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base{
  body {
    @apply bg-slate-900 text-white; 
  }

  button{
    @apply transition-all duration-100 hover:scale-110;
  }
}

@layer utilities{
  .btn{
    @apply px-4 py-2 text-sm capitalize rounded-xl;
  }

  .btn-primary{
    @apply border bg-slate-700 border-slate-700 text-lime-700;
  }

  .btn-primary-outline {
    @apply border border-lime-400 text-lime-400;
  }

  .btn-danger{
    @apply border text-white  bg-red-600 border-red-600;
  }
}